/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    font-family: 'American Typewriter';
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:18px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color: #2E294E;
    color: #FFD400;
    font-family: 'American Typewriter';
    ;
}

/* Portrait layout (default) */

#display {
    margin-top: 10%;
    text-align: center;
}

#photospace-wrapper{
    height: 200px;
    width: 135px;
    display: block;
    margin: 30px auto;
    border: 1px dashed black;
}

#photospace {
    height: 200px;
    width: 135px;
}

.link-button {
    margin: 10px 0 10px 0;
}

h1 {
    font-size:24px;
    margin:10px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}

.gallery-photo {
    height: 100px;
    width: auto;
}

#photo-wrapper {
    display: block;
}

#photo-show {
    height: auto;
    width: 95%;
}

ul {
    margin: 15px auto 15px auto;
    text-indent: none;
    list-style-type: none;

    padding: 0px;
}

li {
    text-indent: none;
    list-style-type: none;
    background-color: #541388;
    margin: 10px auto 10px auto;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    box-shadow: 0px 5px 5px 0px;

}

.header {
    background-color: transparent;
    box-shadow: none;
}

.participant-name {
    background-color: transparent;
    box-shadow: none;
}

input {
    background-color: #F1E9DA;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    height: 30px;
    border-radius: 5px;
    border-top: 3px solid #50553F;
    border-left: 3px solid #50553F;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

input[type="submit"] {
    -webkit-appearance: none;
    color: #50553F;
    background-color: #F1E9DA;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px 0px;
    margin: 10px;
}

#login-button {
  -webkit-appearance: none;
  width: 60%;
  height: 60px;
  margin: 20px 0px 20px 0px;
  font-size: 20px;
}

#register-link {
  width: 40%;
  height: 45px;
  margin: 160px 0px 20px 0px;
  font-size: 20px;
}

button {
    color: #50553F;
    background-color: #F1E9DA;
    box-sizing: border-box;
    width: 80%;
    height: 60px;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px 0px;
}

#button-to-decks {
    background-color: green;
    color: #F1E9DA;
}

#logout-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.contact-listing {
  display: block;
  margin: 30px;
  border-bottom: 1px solid #FFD400;
}

#all-contacts-list {

}

.contact-checkbox {
    position: absolute;
    right: 10%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: #541388;
    border: none;

}

.contact-checkbox:checked {
  background-color: #D90368;
  content: '';
  background: linear-gradient(top, #D90368 0%, #541388 100%);
}

.label-for-contact {
    position: absolute;
    left: 10%;
    margin-top: 25px;
    font-size: 26px;
}

#contact-button-wrapper {
  width: 80%;
  border-top: 1px solid #FFD400;
  margin-top: 30px;
  margin-left: 10%;
}
