* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    font-family: 'Optima';
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:18px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: rgba(255, 255, 255, 0.65);
    font-family: 'Optima';
    background-image: url('../bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Portrait layout (default) */

#display {
    margin-top: 10%;
    text-align: center;
}

.link-button {
    margin: 10px 0 10px 0;
}

p, h3 {
  color: rgba(255, 255, 255, 0.65);
}

#no-rounds {
  margin-top: 25px;
  color: rgba(255, 255, 255, 0.65);
}

h1 {
    font-size:24px;
    margin:10px;
    overflow:visible;
    padding:0px;
    text-align:center;

}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 2000ms infinite;
    -webkit-animation:fade 2000ms infinite;
}

.gallery-photo {
    height: 200px;
    width: auto;
    border-radius: 4px;
    border: 1px solid grey;
}

#photo-wrapper {
    display: block;
}

#photo-show {
    height: auto;
    width: 95%;
}

ul {
    margin: 15px auto 15px auto;
    text-indent: none;
    list-style-type: none;

    padding: 0px;
}

li {
    text-indent: none;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 10px auto 10px auto;
    padding: 8px;
    border-radius: 2px;
    width: 80%;
    text-align: center;
}

.header {
    background-color: transparent;
    box-shadow: none;
}

.participant-name, .submitted-round-link, .contacts-confirm {
    background-color: transparent;
    box-shadow: none;
    border-top: 1px solid grey;
}

input {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    height: 26px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255);
    color: white;
}

input[type="submit"] {
    -webkit-appearance: none;
    color: rgba(255, 255, 255, 0.65);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    font-size: 16px;
    border-radius: 2px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    margin: 10px;
}

#login-button, #register-submit, #button-to-contacts-confirm {
  -webkit-appearance: none;
  width: 60%;
  height: 60px;
  margin: 20px 0px 20px 0px;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255);
}

#button-to-contacts-confirm {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.65);
}

#register-link, #button-to-login, #logout-button, .back {
  width: 40%;
  height: 45px;
  margin: 0px;
  font-size: 20px;
  line-height: 15px;
  border: 1px solid rgba(255, 255, 255);
}

.back {
  margin-bottom: 20px;
}

button {
    color: rgba(255, 255, 255, 0.65);;
    background-color: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    width: 80%;
    height: 60px;
    padding: 15px;
    font-size: 20px;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255);
}

#photo-button, #button-to-new-prompt {
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(255, 255, 255);
}

#button-to-decks {
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.65);
    width: 38.75%;
    margin: 5% 10% 5% 1.25%;
    float: left;
    line-height: 20px;
    padding-top: 10px;
    border: 1px solid rgba(255, 255, 255);
}

.left {
  width: 38.75%;
  margin: 5% 1.25% 5% 10%;
  float: left;
  line-height: 20px;
  padding-top: 10px;
}

.right {
  width: 38.75%;
  margin: 5% 10% 5% 1.25%;
  float: left;
  line-height: 20px;
  padding-top: 10px;
}

#logout-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.contact-listing {
  display: block;
  margin: 30px;
  border-bottom: 1px solid gray;
}

.contact-checkbox {
    position: absolute;
    right: 10%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;

}

.contact-checkbox:checked {
  background-color: #D90368;
  content: '';
  background: linear-gradient(top, #D90368 0%, #541388 100%);
}

.label-for-contact {
    position: absolute;
    left: 10%;
    margin-top: 25px;
    font-size: 26px;
}

#contact-button-wrapper {
  width: 80%;
  border-top: 1px solid grey;
  margin-top: 30px;
  margin-left: 10%;
}

.open-round-link, .gallery-link, .deck-link {
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255);
}

.logo {
}

.image-show{
  border: 2px solid rgba(255, 255, 255);
}

#prompt-wrapper{
  margin-top: 40%;
}
